
    body {
      font-family: 'Noto Sans KR', sans-serif;
      color: #202622;
      background-color: #FFFFFF;
      margin: 0;
      padding: 0;
      -webkit-font-smoothing: antialiased;
    }
  